[submodule "Whitehats | gT0JfK55M1SRNMBrMt10"]
	path = Whitehats | gT0JfK55M1SRNMBrMt10
	url = https://github.com/sharath1606/hackonbase
[submodule "HackHeist | MktHnGxqG8tBIdiG4cez"]
	path = HackHeist | MktHnGxqG8tBIdiG4cez
	url = https://github.com/FasnaSharaf/OpenCV-SHN.git
[submodule "Binary | f8LdcTJdrsgFHIujpZfJ"]
	path = Binary | f8LdcTJdrsgFHIujpZfJ
	url = https://github.com/riya461/Sat-Hack_Night-Binary-OpenCV
[submodule "Hack4It | swuxCNK0wdUniKpGz9yy"]
	path = Hack4It | swuxCNK0wdUniKpGz9yy
	url = https://github.com/Sre-n/Saturday_Hacknight
[submodule "singleboy | ed5cMZEYYs0i3zVwqKbk"]
	path = singleboy | ed5cMZEYYs0i3zVwqKbk
	url = https://github.com/noelmaby/OPENCV.git
[submodule "singleboy | Zg5Ca4cCR9lMVOxi9iya"]
	path = singleboy | Zg5Ca4cCR9lMVOxi9iya
	url = https://github.com/noelmaby/OPENCV.git
[submodule "Syndicate | jt1EgrXvPeZkZeq7JWxf"]
	path = Syndicate | jt1EgrXvPeZkZeq7JWxf
	url = https://github.com/Rithingithub/OpenCV-Project
[submodule "niswas | B9xToUrrsFkOvFZve6E1"]
	path = niswas | B9xToUrrsFkOvFZve6E1
	url = https://github.com/FathimaNiswa/OpenCV-Project.git
[submodule "Codex | 91zGOlqKRMmTy2ZhH8Lz"]
	path = Codex | 91zGOlqKRMmTy2ZhH8Lz
	url = https://github.com/navyasraj02/Open-CV-Project
[submodule "RastInHQ | Z2QlZQxOyn16NI4QbgoT"]
	path = RastInHQ | Z2QlZQxOyn16NI4QbgoT
	url = https://github.com/DarkPhoenix2704/ExamsMonitor
[submodule "Bugz | i3O9FZmw0pucwJFUrtyp"]
	path = Bugz | i3O9FZmw0pucwJFUrtyp
	url = https://github.com/Aleenaprince/bugz
[submodule "Technocrats | isCLjDxaC9n8iNyiFX9t"]
	path = Technocrats | isCLjDxaC9n8iNyiFX9t
	url = https://github.com/100jobin/new.git
[submodule "ICONIC | sfNcgn47hsRRlb6eYeea"]
	path = ICONIC | sfNcgn47hsRRlb6eYeea
	url = https://github.com/ICONIC-Saturday-HackNight/OpenCV-API
[submodule "Dheroks22 | 7MC9ocHlVTVUd8VntovG"]
	path = Dheroks22 | 7MC9ocHlVTVUd8VntovG
	url = https://github.com/navwil/Dhikuroos.git
[submodule "TEAM308 | km8kMjnIAo5Wpm39CR1h"]
	path = TEAM308 | km8kMjnIAo5Wpm39CR1h
	url = https://github.com/vivek200310/tinkerhub-.git
[submodule "Technomaniac12 | NuKWwIs4kysoRu0o0vbB"]
	path = Technomaniac12 | NuKWwIs4kysoRu0o0vbB
	url = https://github.com/Dhanush17raj/saturday_hacknight.git
[submodule "MachineLovers | 7KPjIl1qGoKiCPsHowAs"]
	path = MachineLovers | 7KPjIl1qGoKiCPsHowAs
	url = https://github.com/abdulhakkeempa/shn-tinkerhub-open-cv
[submodule "123PROGRAMMERS | L2vCCSXSYQOuCbLaxByV"]
	path = 123PROGRAMMERS | L2vCCSXSYQOuCbLaxByV
	url = https://github.com/AlwinMathew2003/Hackathon-OpenCV.git
[submodule "Dracarys | JvovtzNmctzhozjuisX6"]
	path = Dracarys | JvovtzNmctzhozjuisX6
	url = https://github.com/jose-jimmy/Saturday-hacknight-OpenCV.git
[submodule "WeeK3ndxSimps | JFwgfw2h6gI1TIR3L2Kz"]
	path = WeeK3ndxSimps | JFwgfw2h6gI1TIR3L2Kz
	url = https://github.com/ice-weasel/hacknight
[submodule "verilog | YhPUqnQCNjRsZAd7X1gn"]
	path = verilog | YhPUqnQCNjRsZAd7X1gn
	url = https://github.com/ssandra102/SHN-openCV
[submodule "SPL | yPH0edPg7CwOtciZEGgm"]
	path = SPL | yPH0edPg7CwOtciZEGgm
	url = https://github.com/psabhishek26/Open-cv
[submodule "Agang | F7NxJTncXJ68i5ojoOv4"]
	path = Agang | F7NxJTncXJ68i5ojoOv4
	url = https://github.com/AryaV14/opencvHacknight
[submodule "mitram | n8isE56VvFsJlA3Idebx"]
	path = mitram | n8isE56VvFsJlA3Idebx
	url = https://github.com/Navami22/openCVshn
[submodule "Inspire | pFFaCg1k14lQmanBEPgX"]
	path = Inspire | pFFaCg1k14lQmanBEPgX
	url = https://github.com/GayathriThejus/hacknight
[submodule "brocoders | Nwvv1h7MM2iirqR0Pslc"]
	path = brocoders | Nwvv1h7MM2iirqR0Pslc
	url = https://github.com/Vishakh2012/hodudo
[submodule "brocoders | c5nZmcSva2LXWTvzSyMC"]
	path = brocoders | c5nZmcSva2LXWTvzSyMC
	url = https://github.com/Vishakh2012/hodudo
[submodule "brocoders | X7GYWMer4fxTKDXWE3aZ"]
	path = brocoders | X7GYWMer4fxTKDXWE3aZ
	url = https://github.com/Vishakh2012/hodudo
[submodule "brocoders | rFx2NvcMLyZLZWiIDGYm"]
	path = brocoders | rFx2NvcMLyZLZWiIDGYm
	url = https://github.com/Vishakh2012/hodudo
[submodule "brocoders | TZmikBj47ybcuzSHQqTi"]
	path = brocoders | TZmikBj47ybcuzSHQqTi
	url = https://github.com/Vishakh2012/hodudo
