[submodule "Whitehats | gT0JfK55M1SRNMBrMt10"]
	path = Whitehats | gT0JfK55M1SRNMBrMt10
	url = https://github.com/sharath1606/hackonbase
[submodule "HackHeist | MktHnGxqG8tBIdiG4cez"]
	path = HackHeist | MktHnGxqG8tBIdiG4cez
	url = https://github.com/FasnaSharaf/OpenCV-SHN.git
[submodule "Binary | f8LdcTJdrsgFHIujpZfJ"]
	path = Binary | f8LdcTJdrsgFHIujpZfJ
	url = https://github.com/riya461/Sat-Hack_Night-Binary-OpenCV
[submodule "Hack4It | swuxCNK0wdUniKpGz9yy"]
	path = Hack4It | swuxCNK0wdUniKpGz9yy
	url = https://github.com/Sre-n/Saturday_Hacknight
[submodule "singleboy | ed5cMZEYYs0i3zVwqKbk"]
	path = singleboy | ed5cMZEYYs0i3zVwqKbk
	url = https://github.com/noelmaby/OPENCV.git
[submodule "singleboy | Zg5Ca4cCR9lMVOxi9iya"]
	path = singleboy | Zg5Ca4cCR9lMVOxi9iya
	url = https://github.com/noelmaby/OPENCV.git
[submodule "Syndicate | jt1EgrXvPeZkZeq7JWxf"]
	path = Syndicate | jt1EgrXvPeZkZeq7JWxf
	url = https://github.com/Rithingithub/OpenCV-Project
